body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #ED1D24; /* Marvel Red */
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #1C1C1C; /* Almost black */
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #ED1D24; /* Marvel Red on hover */
  color: white;
}
main {
  padding: 20px;
  background-color: #F0F0F0; /* Light gray background */
}
footer {
  background-color: #1C1C1C; /* Almost black */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}
#social{
  display: flex;
  justify-content: space-around;
}
#social a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#social a:hover {
  color: #ED1D24; /* Marvel Red on hover */
}
p > a {
  color: #ED1D24; /* Marvel Red */
  text-decoration: none;
}